/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');


* {
    margin: 0;
    padding: 0;

}

/* header section styles */
body {
    background: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}

.primary-color {
    color: #FFFFFF;
}

header {
    background-color: blue;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 870px;
}

.logo-container,
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 285px;


}

nav ul li {
    list-style: none;
    font-size: 20px;
    padding-right: 20px;


}

li a {
    text-decoration: none;
    color: #FFFFFF;
}

.logo {
    width: 50px;
    height: 40px;
    margin-right: 20px;
}

/* top players section design */
main {
    background: #FFFFFF;
    border-radius: 5px;
    width: 900px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 35px;

}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 10px;
}


.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    column-gap: 80px;

}

.top-player {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;

}

.player-photo img {
    width: 56px;
    height: 56px
}

.player-title {
    font-weight: 500;
    font-size: 16px;
}

hr {
    margin: 20px;
    color: #D1D1D1;
}

/* Top Blog section styles */
.blog-section-container {
    margin-left: 40px;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 20px;
}


.blog {
    display: flex;
    row-gap: 40px;

}

.blog-img img {
    width: 177px;
    height: 117px;
    margin-right: 20px;
}

.blog-title {
    font-size: 16px;
    width: 150px;
    height: 68px
}

.blog-author {
    font-size: 14px;
}

.section-name {
    margin-bottom: 20px;
    color: #562EFF;

}

.by-color {
    color: #9F9F9F;
}

/* Lates Course section style */
.course-section-contaioner {
    margin-left: 50px;
}

.course-container {
    display: flex;
    gap: 40px;
}

.section-title {
    margin-top: 40px;
    margin-bottom: 20px;
}


.course-info {
    display: flex;
    padding-bottom: 40px;
}

.course-title {
    font-size: 16px;
}

.course-author {
    font-size: 14px;
    font-weight: 400;
    color: #ED6B4F;
}

.course-img img {
    width: 225px;
    height: 105px;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
    opacity: 0.25;
    margin-right: 20px;
}

.fa-clock {
    margin-left: 30px;
    color: rgb(123, 122, 121);
}


 @media only screen and(max-width:576px) {
    nav{
        flex-direction: column;
        align-items: flex-start;
        background: none;
        width: 100%;
        height: 100%;
    }
 
}